:root {
  --clr-white: #fff;
  --clr--black: #000;
  --clr-primary: #FF6464;
  --clr-dark: #21243D;
  --clr-dark-blue: #142850;
  --clr-light: #8695A4;
  --clr-light-cyen: #EDF7FA;
  --clr-gray: #E0E0E0;
  --clr-bg: #fff;
  --clr-blue: #00A8CC;
}  

body {
    margin: 0;
    font-family:'proxima-nova', sans-serif;
    background: url(../images/background.jpg) repeat;
  }
  
  header {
      padding: 60px;
      text-align: center;
      background: #13293d;
      background: url(../images/background.jpg) repeat;
      color: #fff;
    }
  
  .topnav {
    overflow: hidden;
    background-color: #13293d;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #0476aab9;
    color: white;
  }
  
  .topnav-right {
    float: right;
  }
  main {
    display: flex;
  }

  aside {
    flex: 30%;
    background-color: #240e57b9;
    padding: 20px;
    flex-wrap: wrap;
    color: white;
   
  }
  .picture{
    display: flex;
    flex: 30%;
    background-color: #240e57b9;
    padding: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  section {
    flex: 70%;
    background-color: rgba(255, 255, 255, 0.527);
    padding: 20px;
  }

.profile {
    
    margin-top: 5px;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    float: right;
  }
  

  .button:hover {
    background-color: #555;
  }

  /*Social Icons*/
  .img-container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .bottom-left {
    color:black;
    font-weight: bold;
    font-size: 20px;
    font-family: 'proxima-nova', sans-serif;
    position: absolute;
    bottom: 5px;
    left: 1px;
    background-color: rgba(240, 248, 255, 0.507);
    width: 40%;
    text-align: left;
    padding-left: 3px;
  }

  div.portfolio {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    height: 100px;
  }
  
  div.portfolio:hover {
    border: 4px solid #777;
  }
  

  div.portfolio img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /*Social Icons*/
  .fa {
    padding: 15px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-instagram {
    background: purple;
    color: white;
  }
  
  .fa-github {
    background: grey;
    color: white;
  }

/* Contact Styling */
/* Form Stlye inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

* {
  box-sizing: border-box;
}

/* Style contact section */
.contactsection {
  background-color: #f2f2f2e5;
  padding: 10px;
}

/* Create two columns side by side */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
  
  footer {
    padding: 20px;
    text-align: center;
    background: #13293d;
    color: #fff;
  }
  
  
  /* Tablets - 992px changes header background*/
  @media screen and (max-width: 992px) {
    header {
      background: url(../images/background-3.png) repeat;
    }
  }

  /* Media Queries */
  /* Large smartphones - 768px changes header background */
  @media screen and (max-width: 768px) {
    header {
      background: url(../images/background-2.jpg) repeat;
    }
  }
  
  /* Small smartphones - 576px changes header background */
  @media screen and (max-width: 576px) {
    header{
      background: url(../images/background-1.jpg) repeat;
    }
  }

/* Responsive layout - screen less than 600px wide, stack column*/
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* Hero Section */
.flex {
  display: flex;
}

.container {
  background-color: white;
}

.container2 {
  max-width: 64rem; /* 1024px */
  padding: 0.65625rem; /* 10.5px */
  margin: auto;
}

.hero {
  position: relative;
  min-height: calc(100vh - var(--header-mob-h));
  padding-top: var(--header-mob-h);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 25px;
}

@media (min-width: 48em) { /* 768px */
  .hero {
    min-height: calc(100vh - var(--header-des-h));
    padding-top: var(--header-des-h);
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 25px;
  }
}

.hero__image {
  width: min(12.5rem, 80vw); /* 200px 80vw */
  height: min(12.5rem, 80vw); /* 200px 80vw */
  background-image: url('../images/profile.jpg'); /*../images/hero-image.svg */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  box-shadow: -5px 12px 0 var(--clr-light-cyen);
  border-radius: 50%;
}

@media (min-width: 48em) { /* 768px */
  .hero__image {
    width: 17.5rem; /* 280px */
    height: 17.5rem; /* 280px */
    box-shadow: -10px 14px 0 var(--clr-light-cyen);
    background-size: cover;
    margin-left: 3.125rem; /* 50px */
  }
}

.hero__text {

}

@media (min-width: 48em) { /* 768px */
  .hero__text {
    max-width: min(31.25rem, 50vw); /* 500px 50vw */
    text-align: left;
  }
}

.hero__title {
  font-size: clamp(10%, 10vw, 2.1875rem); /* 2.1875rem => 35px */
}

@media (min-width: 48em) { /* 768px */
  .hero__title {
    font-size: 3rem; /* 48px */
  }
}

.hero__description {
  line-height: 1.5;
  margin-bottom: 1.5625rem; /* 25px */
}

/*Download Button*/


.btn {
  background-color: var(--clr-white);
  color: var(--clr-dark);
  transition: all 300ms ease-in-out;
  margin-bottom: 5px;
}

.btn--main {
  background-color: var(--clr-primary);
  color: var(--clr-white);
  padding: 0.5625rem 1.31875rem; /* 9px 21.1px */
  font-size: 1.25rem; /* 20px */
  border-radius: 0.125rem; /* 2px */
}

.btn:hover,
.btn:focus {
  opacity: 0.8;
}

/*Portfolio*/


.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide columns by default */
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

/* Add a grey background color on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background color to the active button */
.btn.active {
  background-color: #666;
   color: white;
}
 